<section id="campuses" class="container">
    <h1>All campuses</h1>

    {{#each campuses}}
      <div class="campus">
      <h3>Campus Name:{{name}}</h3>
      <p>Address: {{address}}</p>
      <ul>
        <li>ImageUrl: {{imageUrl}}</li>
        <li>Description: {{description}}</li>
        <li></li>
      </ul>
    </div>
    {{else}}
      <p>No campuses available</p>
    {{/each}}
  </section>