<section id="campuses" class="singlecontainer">
    <h1>All students</h1>

    {{#each students}}
      <div class="campus">
      <ul>
        <img src ='{{imageUrl}}'>
      </ul>
      <br>
      <a href ="/students/view/{{id}}">Student name: {{lastName}}, {{firstName}}</a>
      <br>
    </div>
    {{else}}
      <p>No students available</p>
    {{/each}}
  </section>